section.content {
  padding: 30px;
  background-color: #f9f9f9;
  flex: 1;
}

section.content header h2 {
  font-size: 32px;
  margin: 0px auto 20px auto;
  text-align: center;
  color: #333;
}
 
section.content main p {
  font-size: 18px;
  line-height: 2.2;
  color: #555;
}

section.content main p:last-child {
  margin-bottom: 0;
}

