/* ======= SOBRE ======= */
.sobre-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  max-width: 1500px;
  padding-left: 45px;
  margin: 0 auto;
}

section.content {
  background-color: #f9f9f9;
  flex: 1;
}

/* texto da seção sobre */
.sobre-texto {
  flex: 1 1 60%;
  font-size: 18px;
  line-height: 1.65;
  color: #000000;
  text-align: justify;
  padding-left: 5px;
  padding-right: 40px;
}

.sobre-texto p {
  margin-bottom: 8px;
  text-align: justify;
}

/* Flip Card */
.flip-card {
  width: min(30vw, 300px);
  aspect-ratio: 1 / 1.1;
  perspective: 1000px;
  margin: 0 auto;
} 

.flip-card-inner {
  position: relative;
  width: 85%;
  height: 85%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.flip-card-back {
  background-color: #2c3e50;
  color: #86abcf;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.flip-card-back h3 {
  margin: 5px 0;
  font-size: 22px;
}

.flip-card-back p {
  color: #ffffff !important;
  margin: 2px 0;
  font-size: 16px;
  line-height: 2;
}

/* Estilo para os ícones sociais */
.social-icons {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Responsividade */
@media (max-width: 992px) {
  .sobre-container {
    flex-direction: column;
    align-items: center;
  }

  .sobre-texto {
    flex: 1 1 100%;
    text-align: center;
    padding: 0px;
  }

  .flip-card {
    margin-bottom: 0px;
    width: 40vw;
    max-width: 250px;
    /* mantém proporção; evitando valor inválido */
    aspect-ratio: 1 / 1.1;
  }
}

@media (max-width: 576px) {
  .flip-card {
    width: 200px;
    height: 200px;
  }

  .sobre-texto {
    font-size: 16px;
  }
}
